[submodule "examples/mnist-neural-network-plain-c"]
	path = examples/mnist-neural-network-plain-c
	url = https://github.com/AndrewCarterUK/mnist-neural-network-plain-c
[submodule "xterm-pty"]
	path = xterm-pty
	url = https://github.com/mame/xterm-pty
