name: Build Base Image

on:
  push:
    branches: [ "main" ]
    paths:
      - 'Dockerfile.base'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'Dockerfile.base'
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}-base

jobs:
  build-base-image:
    runs-on: ubuntu-22.04-arm
    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Log in to Container registry
      if: github.event_name != 'pull_request'
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build base image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: Dockerfile.base
        push: ${{ github.event_name != 'pull_request' }}
        tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
