name: Test

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'docs/**'
      - '**.md'

  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - 'docs/**'
      - '**.md'

jobs:
  build-and-test:
    runs-on: ubuntu-22.04-arm
    name: Build-and-Run
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Pull base image or build locally
      run: |
        if ! docker pull ghcr.io/yomaytk/elfconv-base:latest; then
          echo "Base image not found, building locally..."
          docker build -f Dockerfile.base -t ghcr.io/yomaytk/elfconv-base:latest .
        fi

    - name: build container image
      run: docker build . --build-arg ECV_AARCH64=1 -t elfconv-image

    - name: run integration test
      run: docker run --rm -w /root/elfconv/build elfconv-image "ninja test_dependencies && ctest"
